@import "colors/light.css";
@import "colors/light-hc.css";
@import "colors/light-mc.css";
@import "colors/dark.css";
@import "colors/dark-hc.css";
@import "colors/dark-mc.css";

@import "./inline.css";

@font-face {
    font-family: "Encode Sans", sans-serif;
    src: url('../fonts/EncodeSans.ttf');
}

/* Outfit font is used for titles */
@font-face {
    font-family: "Outfit", sans-serif;
    src: url('../fonts/Outfit.ttf');
}

html {
    height: 100%;
    background: black;
}

body {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    font-family: "Encode Sans", sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Outfit", sans-serif;
    font-size: 4rem;
    color: var(--md-sys-color-on-background);
    padding: 0;
    margin: 0;
    margin-bottom: 1.2rem;
}

h3 {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    color: var(--md-sys-color-on-background);
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.navbar {
    background-color: var(--md-sys-color-primary-transparent);
    color: var(--md-sys-color-on-primary);
    height: 72px;
    backdrop-filter: blur(1rem) contrast(2);
    z-index: 100;
}

.button {
    background: var(--md-sys-color-on-tertiary-container);
    color: var(--md-sys-color-tertiary-container);
    text-decoration: none;
    border: 2px solid var(--md-sys-color-tertiary-container);
    padding: 4px 8px;
    font-size: 24px;
    opacity: .85;
    scale: 1;
    display: inline-block;
    text-align: center;
    min-width: 10rem;
    transition-duration: .1s;
}

.button:hover {
    opacity: .5;
    scale: 1.025;
    color: var(--md-sys-color-tertiary-container);
}

.button:focus {
    border: 2px solid transparent;
    opacity: 1;
    box-shadow: 0px 0px 0px 4px var(--md-sys-color-tertiary-container);
}

.outlined-button {
    background: var(--md-sys-color-tertiary-container);;
    color: var(--md-sys-color-on-tertiary-container);
    text-decoration: none;
    border: 2px solid var(--md-sys-color-on-tertiary-container);
    padding: 4px 8px;
    font-size: 24px;
    opacity: .85;
    display: inline-block;
    text-align: center;
    min-width: 10rem;
    scale: 1;
    transition-duration: .1s;
}

.outlined-button:hover {
    opacity: .5;
    scale: 1.025;
    color: var(--md-sys-color-on-tertiary-container);
}

.outlined-button:focus {
    border: 2px solid transparent;
    opacity: 1;
    box-shadow: 0px 0px 0px 4px var(--md-sys-color-on-tertiary-container);
}

.container {
    margin-top: 84px;
    height: 200%;
}