<!DOCTYPE html>
<html lang="de" class="light">
    <head>
        <meta charset="UTF-8">
        <title>Notenanalyse - Hallo!</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/colors/light.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="body">
        <nav class="navbar-expand-lg navbar always-on-top w-full">
            <div class="container-fluid">
                <div class="w-full flex flex-wrap align-center space-between">
                    <a class="navbar-brand" href="#">
                        <img src="../../static/images/logo.png" alt="Notenanalyse" height="48px" />
                    </a>

                    <!-- User account controls -->
                    <div>
                        <!-- if user is logged in -->
                        <a href="#" class="outlined-button mr-4">Mein Account</a>
                        <a href="#" class="button mr-4">Abmelden</a>
                        
                        <!-- if user is not logged in -->
                        <a href="#" class="outlined-button mr-4">Anmelden</a>
                        <a href="#" class="button mr-4">Registrieren</a>
                    </div>
                </div>
            </div>
        </nav>

        {% block index %}
        {% endblock %}

        <div style="background: var(--md-sys-color-tertiary-container)">
            <div class="container pt-8 pb-8">
                <button id="DarkModeButton" class="button" onclick="ToggleDarkMode()">Dark mode</button>
                <button id="LightModeButton" class="button" onclick="ToggleLightMode()">Light mode</button>
            </div>
            <div class="container pt-8 pb-8">
                <button id="DefaultContrastButton" class="button" onclick="ToggleDefaultContrast()">Default contrast</button>
                <button id="MediumContrastButton" class="button" onclick="ToggleMediumContrast()">Medium contrast</button>
                <button id="HighContrastButton" class="button" onclick="ToggleHighContrast()">High contrast</button>
            </div>
        </div>
    </div>
    </body>
</html>
<script src="{% static 'scripts/ColorMode.js' %}"></script>